@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

@media (min-width: 280px) {
    .value-page-container {
        margin: 1em;
    }

    .screenshots {
        width: 60vw;
    }
}

.value-page {
    text-align: center;
}

.value-page-heading {
    font-family: 'Oswald', sans-serif;
}

.value-page-text {
    text-align: left;
    line-height: 1.6;
}

.project-link {
    display: block;
    margin: 1em 0;
}

figure {
    margin: 3em;    
}

figcaption {
    font-style: italic;
}

.screenshots {
    border: 1px solid black;
    border-radius: 3px;
}

@media (min-width: 968px) {
    .value-page-container {
        margin: 0 10em;
    }
    .screenshots {
        width: 40vw;
    }
}

